- content_for :additional_scripts do
  %script{src: '//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'}

- content_for :scripts do
  - cache "vj_home_#{@last_recycling_center_updated}" do
    :javascript
      //<![CDATA[
      var map, bounds, marker, myLatLng, mapOptions;

      $(document).ready(function() {
        function initialize() {
          google.maps.visualRefresh = true;

          mapOptions = {
            zoom: 9,
            disableDefaultUI: true,
            scaleControl: false,
            draggable: false,
            navigationControl: false,
            mapTypeControl: false,
            disableDoubleClickZoom: true,
            scrollwheel: false
          }

          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
          bounds = new google.maps.LatLngBounds();

          #{
            @recycling_centers.select {|rc| rc.lat.present? and rc.lng.present? }.map { |rc| "
            myLatLng = new google.maps.LatLng(#{rc.lat}, #{rc.lng});
            bounds.extend(myLatLng);

            marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              animation: google.maps.Animation.DROP
            });

            google.maps.event.addListener(marker, 'click', function() {
              window.location = '#{recycling_center_path(rc)}';
            });

            google.maps.event.addListener(marker, 'mouseover', function() {
              $('##{rc.name.parameterize}').css({textDecoration: 'underline'});
            });

            google.maps.event.addListener(marker, 'mouseout', function() {
              $('##{rc.name.parameterize}').css({textDecoration: 'none'});
            });
            " }.join("\n")
          }

          map.setCenter(bounds.getCenter());
        }

        google.maps.event.addDomListener(window, 'load', initialize);
      });
      //]]>

- cache "v_home_#{@last_recycling_center_updated}" do
  %h1 Sorteringsguide

  .col-xs-6
    %ul.recycling-centers
      - @recycling_centers.each do |rc|
        %li{id: rc.name.parameterize}= link_to rc.name.gsub(/genbrugsstation/i, ''), rc

    .panel.panel-default
      .panel-body
        %p.intro
          Sorteringsguiden kan hjælpe dig med at finde ud af hvor på genbrugsstationen, du kommer af med forskelligt affald.
        %p.intro
          Hvis du er i tvivl om, hvor på genbrugsstationen, du skal afleverer noget, kan du altid spørge pladspersonalet.

  .col-xs-6
    #map-canvas
